.line-in-middle {
    width:400px;
    height:200px;
	  background: linear-gradient(to top, 
	                              transparent 0%, 
	                              transparent calc(50% - 0.81px), 
	                              black calc(50% - 0.8px), 
	                              black calc(50% + 0.8px), 
	                              transparent calc(50% + 0.81px), 
	                              transparent 100%); 
	}
.bs {
	overflow: hidden;
    box-sizing: border-box;
}