.btn {
    z-index: 15;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Gilroy', sans-serif;
    color: #fff;
    background-color: #F77248;
    border-radius: 36px;
    padding: 12px 48px 12px 24px;
    display: inline-block;
    margin-top: 15px;
    &:hover {
        color: #fff;
    }
    &:after{
        content: '';
        transition: 0.3s;
        position: absolute;
        background-image: url(../../icons/arrow-white.png);
        width: 15px;
        height: 15px;    
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-size: 15px;
        margin-left: 5px;
    }
    &:hover::after{
        transition: 0.3s;
        margin-left: 14px;
    }
}

.btnNoArr {
    z-index: 15;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Gilroy', sans-serif;
    color: #fff;
    background-color: #F77248;
    border-radius: 36px;
    padding: 12px 24px 12px 24px;
    display: inline-block;
    &:hover {
        color: #fff;
    }
}