.faq {
    display: flex;
    .title_fz45 {
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      margin-bottom: 50px;
  }
}
.sectionFaq {
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-align: center;
    .title_fz18 {
        color: #000;
    }
}
.accordionTitle {
    display: grid;
    gap: 15px;
    font-size: 15px;
    font-weight: 500;
}

.accordion__header::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
  }
  
  .accordion__item_show .accordion__header::after {
    transform: rotate(-180deg);
  }

  .accordion__item {
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    margin-top: 50px;
/*     box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%); */
  }

  .accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    color: black;
    font-size: 21px;
    font-weight: 700;
    background-color: #F6F6F6;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
  }

  .accordion__header::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    background-image: url("../../icons/arrowUp.svg");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
  }

  .accordion__item_show .accordion__header::after {
    transform: rotate(-180deg);
  }

  .accordion__header:hover {
    background-color: #ecebeb;
  }

  .accordion__item_hidden .accordion__header {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .accordion__body {
    padding: 0.75rem 1rem;
    overflow: hidden;
    background: #F6F6F6;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    .titelApp {
        font-size: 15px;
        font-weight: 500;
    }
  }

  .accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
  }

  @media (max-width: 768px){ 
    .faq {
      display: flex;
      .title_fz45 {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        margin-bottom: 50px;
        margin-top: 80px;
    }
  }
  }
