.juniorChildAccountTitleBlock {
    margin-top: 30%;
}

.juniorChildAccount {
    margin-top: 5%;
}


@media (max-width: 992px) {
.juniorChildAccount {
    .row {
        flex-direction: column-reverse;
    }
   } 
   .juniorChildAccountTitleBlock {
    margin-top: 3%;
}
.peopleImg {
    display: flex;
    justify-content: space-around;
}

.juniorChildAccountTitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 38px;
}
}
