.juniorLearning {
    height: 100%;
    margin-top: 56px;
    overflow: hidden;
    .container {
        background-color: #fff;
        border-radius: 22px;
        padding: 0;
        overflow: hidden;
    }
    .juniorLearningTitleBlock {
        margin-top: 20%;
        margin-left: 20%;
        .title_fz36 {
            font-size: 31px;
            font-weight: 700;
            line-height: 34px;
        }

    }
    .juniorLearningSubTitle {
        margin-top: 10px;
        font-weight: 400;

        br {
            display: none;
        }
    }
    .juniorLearningImg {
        overflow: hidden;
        img {
            max-width: 110%;
        }
    }
}
@media (max-width: 992px) {
    .juniorLearning .juniorLearningTitleBlock {
        margin-top: 3%;
        margin-left: 3%;
    }
}

@media (max-width: 992px) {
    .juniorLearning {
        .title_fz36 {
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
        }
    }
    .juniorNotifications .juniorNotificstionsTitleBlock {
        margin-top: 3%;
        margin-left: 3%;
    }
    .juniorNotificationsBtn {
        margin-top: 19px;
    }
    .juniorNotificationsImg {
        padding-left: 24px;
        img {
            max-width: 115%;
        }
    }
    .juniorNotificationsImg {
        display: flex;
        justify-content: space-evenly;
    }
    
}