.jusanInvestApp {
    margin-top: 100px;
}
.containerAppInvest {
    background-color: #fff;
    border-radius: 22px;
    overflow: hidden;
    max-height: 510px;
}
.containerAppRadar {
    background-color: #fff;
    border-radius: 22px;
    height: 510px;
    overflow: hidden;

}
.containerAppAnalytics {
    background-color: #fff;
    border-radius: 22px;
    height: 510px;
    overflow: hidden;
}
.containerAppFreeTraining {
    background-color: #21212B;
    border-radius: 22px;
    height: 510px;
    overflow: hidden;
}


.investTitle {
    padding-top: 15px;
    padding-left: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.investSubTitle {
    padding-top: 9px;
    padding-left: 15px;
    font-weight: 800;
    font-size: 32px;
    line-height: 35px;
    width: 480px;
}

.investImg {
    display: flex;
    flex-direction: column;
}
.radarImg {
    display: flex;
    flex-direction: row-reverse;
}
.analyticsImg {
    display: flex;
    flex-direction: column;
}
.freeTrainingImg {
    display: flex;
    flex-direction: column-reverse;
}
.investSubTitle_b {
    padding-top: 9px;
    padding-left: 15px;
    font-weight: 800;
    font-size: 32px;
    line-height: 35px;
    width: 450px;
    color: #fff;
}


@media (max-width: 1200px) {
    .investImg {
        margin-top: 60px;
    }
    .analyticsImg {
        margin-top: 10px;
    }
    .freeTrainingImg {
        margin-top: 55px;
    }
}

@media (max-width: 469px) {
    .investImg {
        display: flex;

    }
    .analyticsImg {
        margin-top: 142px;
    }
    .freeTrainingImg {
        margin-top: 55px;
    }
    .investSubTitle {
        padding-top: 9px;
        padding-left: 15px;
        font-weight: 800;
        font-size: 32px;
        line-height: 35px;
        width: 343px;
    }
    .freeTrainingImg {
        margin-top: 76px;
    }
}



@media (max-width: 376px) {
    .investSubTitle {
        padding-top: 9px;
        padding-left: 15px;
        font-weight: 800;
        font-size: 32px;
        line-height: 35px;
        width: 343px;
    }
    .freeTrainingImg {
        margin-top: 76px;
    }
}