.jusanInvestAppDownload {
    margin-top: 120px;
}
.containerStep {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    height: 100%;
    background-color: #fff;
    border-radius: 22px;
}
.stepOne {
    display: flex;
    align-items: center;
    font-size: 19px;
    margin-left: 35px;
    span {
        opacity: .7;
        font-weight: 500;
    }

}
.stepOneTitle {
    margin-left: 20px;
}

.stepTwo {
    display: flex;
    margin-left: 35px;
    align-items: center;
    font-size: 19px;
    padding-right: 30px;
    span {
        opacity: .7;
        font-weight: 500;
    }

}
.stepOneTitle {
    margin-left: 20px;
}


.stepThree {
    display: flex;
    margin-left: 35px;
    align-items: center;
    font-size: 19px;
    padding-right: 30px;
    span {
        opacity: .7;
        font-weight: 500;
    }

}
.stepOneTitle {
    margin-left: 20px;
}

.storeIcons {
    margin-top: 10px;
    img {
        width: 77px;
    }
}
.lastGp {
    margin-left: 20px;
    img {
        width: 73px;
    }
}

.containerAppUpDownloadVideo {
    background-color: #fff;
    border-radius: 22px;
    video {
        max-width: 100%;
        width: 100%;
        border-radius: 22px;
        margin: auto;
        cursor: pointer;
    }
}

@media (max-width: 991px) {
    .stepOne {   
        padding: 30px 20px 30px 1px;
    }
    .stepTwo {
        padding: 30px 20px 30px 1px;
    }
    .stepThree {
        padding: 30px 20px 30px 1px;
    }
}
