@media (max-width: 426px) {
    .juniorLearningTitleBlock {
        position: absolute;
        grid-column: 1;
        z-index: 2;
        padding-left: 0;
        margin-top: 0;
        width: 329px;
    }
    
    .juniorLearningTitle {
        grid-column: 1;
        margin-top: 1px;
        width: 295px;
    }
    .juniorLearningImg {
        position: relative;
        grid-column: 2;
        width: 332px;
    }
    .juniorLearningBlock {
        background: #fff;
        border-radius: 22px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: start;
        width: 100%;
        height: 417px;
    }
    .juniorLearningImg {
        position: relative;
        grid-column: 2;
        margin-top: 187px;
        img {
            width: 400px;
        }
    }
    .juniorLearningTitle {
        grid-column: 1;
        margin-top: 18px;
        font-weight: 700;
        margin-left: 21px;
        font-size: 24px;
        line-height: 26px;
        width: 308px;
    }
    .juniorLearningSubTitle {
        margin-top: 18px;
        font-weight: 500;
        margin-left: 21px;
        font-size: 14px;
        line-height: 19px;
        width: 310px;
    }
    .juniorLearningBtn{
        margin-top: 32px;
    margin-left: 21px;
    }
    .juniorLearning {
        width: 100%;
        margin-top: 1px;
        padding-top: 0;
        height: 420px;
    }
}


@media (min-width: 728px) {
    .juniorLearningTitleBlock {
        position: absolute;
        padding-left: 0;
    }
    .juniorLearningTitle {
        grid-column: 1;
        margin-top: 0;
        margin-top: 18px;
        font-weight: 700;
        margin-left: 21px;
        font-size: 24px;
        line-height: 26px;
        width: 371px;
    }
    .juniorLearningSubTitle {
        margin-top: 18px;
    font-weight: 500;
    margin-left: 21px;
    font-size: 17px;
    line-height: 19px;
    width: 385px;
    opacity: .8;
    br {
        display: none;
    }
    }
    .juniorLearningBtn {
        margin-top: 32px;
    margin-left: 21px;
    }
}
@media (min-width: 1400px) { 
    .juniorLearning {
        height: 511px;
        margin-top: 32px;
    }
    .juniorLearningBlock {
        background: white;
        border-radius: 22px;
        display: grid;
        grid-template-columns: 1fr  1fr;
        grid-template-rows: 1fr;
        align-items: start;
        margin-top: -46px;
    }
    
    .juniorLearningTitleBlock {
        position: absolute;
        grid-column: 1;
        z-index: 2;
        padding-left: 125px;
    }
    
    .juniorLearningImg {
        position: relative;
        grid-column: 2;
    }
    .juniorLearningBtn {
        grid-column: 1;
        margin-top: 32px;
    
    }
    .juniorLearningTitle {
        grid-column: 1;
        margin-top: 125px;
        font-size: 32px;
        width: 500px;
    
    }
    .juniorLearningSubTitle {
        grid-column: 1;
        margin-top: 12px;
    
    }
}