@media (max-width: 426px) {  //////////////ТЕЛЕФОН/////////////
    .juniorNotifications {
        width: 100%;
        margin-top: 36px;
        height: 494px;
    }
    .juniorNotificationsTitle {
        margin-top: 18px;
        font-weight: 700;
        margin-left: 21px;
        font-size: 24px;
        line-height: 26px;
        width: 277px;
    }
    .juniorNotificationsSubTitle {
        margin-top: 18px;
        font-weight: 500;
        margin-left: 21px;
        font-size: 14px;
        line-height: 19px;
        width: 277px;
        br {
            display: none;
        }

    }
    .juniorNotificationsBtn {
        grid-column: 2;
        margin-top: 32px;
        margin-left: 21px;
    }
    .juniorNotificationsImg {
            position: absolute;
            margin-top: 195px;
            margin-left: 3px;
        }
        img {
            width: 301px;
        }
    
}
.juniorNotificationsTitleBlock {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    height: 461px;
    width: 252px;
}
    .juniorNotificationsTitleBlock {
        position: relative;
        grid-column: 1;
        z-index: 2;
    }

@media (min-width: 728px) { //////////////ПЛАНШЕТ/////////////
    .juniorNotifications {
        width: 100%;
        margin-top: 36px;
            height: 468px;
        }
    
    .juniorNotificationsTitle {
        margin-top: 18px;
        font-weight: 700;
        margin-left: 21px;
        font-size: 24px;
        line-height: 26px;
        width: 371px;
    }
    .juniorNotificationsSubTitle {
            margin-top: 18px;
            font-weight: 500;
            margin-left: 21px;
            font-size: 17px;
            line-height: 19px;
            width: 385px;
            opacity: .8;
        br {
            display: none;
        }

    }
    .juniorNotificationsBtn {
        grid-column: 2;
        margin-top: 32px;
        margin-left: 21px;
    }
    .juniorNotificationsImg {
        position: absolute;
        margin-top: 107px;
        margin-left: 233px;
        img {
            width: 401px;
        }
    }

    .juniorNotificationsBlock {
        background: #fff;
        border-radius: 22px;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr;
        align-items: start;
        height: 462px;
    }
    .juniorNotificationsTitleBlock {
        position: relative;
        grid-column: 1;
        z-index: 2;
    }
}
@media (min-width: 1400px) { 
    .juniorNotifications {
        height: 511px;
        margin-top: 56px;
    
    }
    .juniorNotificationsBlock {
        background: white;
        border-radius: 22px;
        display: grid;
        grid-template-columns: 1fr  1fr;
        grid-template-rows: 1fr;
        align-items: start;
    }
    
    .juniorNotificationsTitleBlock {
        position: relative;
        grid-column: 2;
        z-index: 2;
    }
    
    .juniorNotificationsImg {
        padding-left: 43px;
        grid-row: 1/2;
    }
    .juniorNotificationsBtn {
        grid-column: 2;
        margin-top: 32px;
    
    }
    .juniorNotificationsTitle {
        grid-column: 2;
        margin-top: 125px;
    
    }
    .juniorNotificationsSubTitle {
        grid-column: 2;
        margin-top: 12px;
    }
    .juniorNotificationsTitle {

        font-size: 32px;

    }
    .juniorNotificationsImg {
        padding-left: 43px;
        grid-row: 1/2;
        img {
            width: 470px;
        }
    }
    .juniorNotificationsImg {
        padding-left: 1px;
        grid-row: 1/2;
        margin-top: 47px;
    }
}
    

