@media (max-width: 426px) {
    .juniorMonitoringAccountBlock {
    grid-template-columns: 1fr;
    }
    .juniorMonitoringAccountImg {
        position: absolute;
        padding-left: 43px;
        grid-column: 2;
        grid-row: 1/3;
        margin-top: 305px;
        padding-left: 43px;
        width: 350px;
        height: 45px;
    }
.juniorMonitoringAccountTitleBlock {
    grid-column: 1;
    margin-top: 0;
    margin-bottom: 0;
    width: 295px;
}
.juniorMonitoringAccountTitle {
    grid-column: 1;
    margin-top: 1;
    margin-left: 0;
    grid-column: 1;
    margin-top: 18px;
    font-weight: 700;
    margin-left: 21px;
    font-size: 24px;
    line-height: 26px;
    width: 301px;
}
.juniorMonitoringAccountSubTitle {
    margin-top: 18px;
    font-weight: 500;
    margin-left: 21px;
    font-size: 14px;
    line-height: 19px;
    width: 331px;
    br {
        display: none;
    }
}
    .juniorMonitoringAccountBtn {
        grid-column: 2;
        margin-top: 32px;
        margin-left: 21px;
    }
    
    .juniorMonitoringAccountBlock {
        background: #fff;
        border-radius: 22px;
        display: grid;
        grid-template-columns: 556px 1fr;
        grid-template-rows: 1fr;
        align-items: start;
        height: 579px;
    }
    .juniorMonitoringAccountImgChat {
        margin-left: -18px;
        margin-top: -42px;
        img {
            width: 304px;
        }
    }
}




@media (min-width: 728px) {
    .juniorMonitoringAccountBlock {
        background: #fff;
        border-radius: 22px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: start;
    }
    .juniorMonitoringAccountImg {
        padding-left: 43px;
        grid-column: 1;
        grid-row: 1/3;
        margin-top: 228px;
        padding-left: 158px;
        width: 254px;
        height: 70px;
    }
    .juniorMonitoringAccountTitleBlock {
        grid-column: 1;
        margin-top: 125px;
        margin-bottom: 145px;
        grid-row: 1;
        height: 547px;
    }
    .juniorMonitoringAccountTitleBlock {
        grid-column: 1;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
        grid-row: 1;
    }
    .juniorMonitoringAccountTitle{
        grid-column: 1;
    margin-top: 0;
    margin-top: 18px;
    font-weight: 700;
    margin-left: 21px;
    font-size: 24px;
    line-height: 26px;
    width: 371px;
    }
    .juniorMonitoringAccountSubTitle{
        margin-top: 18px;
        font-weight: 500;
        margin-left: 21px;
        font-size: 17px;
        line-height: 19px;
        width: 385px;
        opacity: .8;
        br {
            display: none;
        }
        }
        .juniorMonitoringAccountBtn {
            margin-top: 32px;
            margin-left: 21px;
        }
}

@media (min-width: 1400px) {
    .juniorMonitoringAccount {
        height: 511px;
        margin-top: 32px;
    }
    .juniorMonitoringAccountBlock {
        background: white;
        border-radius: 22px;
        display: grid;
        grid-template-columns: 556px 1fr;  
        grid-template-rows: 1fr;
        align-items: start;
        height: 549px;
    }
    
    .juniorMonitoringAccountTitleBlock {
        grid-column: 2;
        margin-top: 125px;
        margin-bottom: 145px;
    }
    
    .juniorMonitoringAccountImg {
        padding-left: 43px;
        grid-column: 1;
        grid-row: 1/3;
        margin-top: 114px;
        padding-left: 72px;
        width: 367px;
        height: 88px;
    }
    .juniorMonitoringAccountBtn {
        grid-column: 2;
        margin-top: 32px;
    }
    .juniorMonitoringAccountTitle {
        grid-column: 2;
        font-size: 32px;
    }
    .juniorMonitoringAccountSubTitle {
        grid-column: 2;
        margin-top: 12px;
        
    }
    .juniorMonitoringAccountImgChat {
        display: grid;
        gap: 12px;
        img {
            box-shadow: 0 0 15px rgba(0,0,0,0.3);
        }
    }
    .juniorMonitoringAccountTitleBlock {
        grid-column: 2;
        margin-top: 125px;
        margin-bottom: 145px;
        height: 283px;
    }
    .juniorMonitoringAccountTitleBlock {
        grid-column: 2;
        margin-top: 0157px;
        margin-bottom: 0;
    }
    
}