@media (max-width: 426px) {
.juniorChildAccountImg {
    img {
        width: 187px;
    }
}
.juniorChildAccountImg {
    width: 10px;
    height: 351px;
    grid-column: 1;
    grid-row: 1/4;
    margin-top: 0;
    padding-left: 0;
    }
    .juniorChildAccountBlock {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: start;
        
    }
    .people4 {
        padding-left: 3px;
        margin-top: 225px;
        margin-left: 183px;
    
    }
    .juniorChildAccountImgPeople {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        margin-top: 261px;
    
    }
    .juniorChildAccountTitleBlock {
        grid-column: 1;
        padding-left: 0;
        margin-top: -295px;
        width: 333px
;
    }
    .juniorChildAccountTitle{
        font-weight: 700;
        font-size: 34px;
        line-height: 42px;
        width: 365px;
    }
    .juniorChildAccountImg img {
        width: 159px;
    }
}




@media (min-width: 728px) {
    .juniorChildAccountImg {
        width: 300px;
        height: 656px;
        grid-column: 1;
        grid-row: 1/4;
        margin-top: 80px;
        padding-left: 0;
    }
    .juniorChildAccountImg {
        img {
            width: 170px;
        }
    }
    .people4 {
        padding-left: 0;
        padding-top: 0;
        margin-top: 233px;
        margin-left: 192px;
    }
    .juniorChildAccountTitleBlock {
        grid-column: 1;
        grid-row: 1;
        margin-top: 124px;
        width: 429px;
        margin-left: 293px;
    }

    
}

@media (min-width: 1400px) {
    .juniorChildAccountBlock {
        display: grid;
        grid-template-columns: 612px 1fr;
        grid-template-rows: 1fr;
        align-items: start;
        margin-left: 198px;
    }
    .juniorChildAccountTitleBlock {

        margin-left: 362px;
    }
}
