@media (max-width: 426px) {  //////////////ТЕЛЕФОН/////////////
    .faq {
        display: flex;
        margin-top: 176px;
    }
    .sectionFaq {
        .titelApp {
            font-weight: 700;
            font-size: 26px;
            line-height: 25px;

            margin-bottom: 14px;
        }
    }
    
}
@media (min-width: 728px) { //////////////ПЛАНШЕТ/////////////
    .faq {
        display: flex;
        margin-top: 672px;
    }

}

@media (min-width: 1400px) {
    .faq {
      display: flex;
      margin-top: 0px;
      padding-top: 0;
  }
  }
