img{
    max-width: 100%;
  }
.promo {
    background-color: #21212B;
    height: 100%;
}
.promo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.promoTitle {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 125px;
    
}
.subTitle {
    margin-top: 24px;
}
.formTitle {
    margin-top: 48px;
}

.promoForm input {
    width: 327px;
    height: 58px;
    margin: 0;
    background: none;
    font-size: 17px;
    font-weight: 500;
    border-width: 0 0 1px 0; 
    border-style: solid;
    border-color:  #bebeb658;
    color: #fff;
    
}

.promoForm button {
    background-color: #FF4810;
    border: none;
    width: 190px;
    height: 46px;
    border-radius: 22px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    &:hover {
        transition: transform 200ms;
        transform: scale(0.94);
    }
}

.promoImgRel{
    overflow: hidden;
    z-index: 2;
    position: relative;
}
.promoImgRel > img{
    position: relative;
    z-index: 2;
}
.promoImgRelCup{
    position: absolute;
    left: 1%;
    bottom: 2%;
    z-index: 3;
    width: 36%;
}
.promoImgRelCupChat{
    z-index: 1;
    position: absolute;
    right: 10%;
    top: 2%;
    width: 26%;
}

@media (max-width: 768px) {
    .promoTitle {
        margin-top: 25px;
    }

}

@media (max-width: 426px) {

}
